/* CSS Document by futrica */

body {
	width: 1000px;
	background: #dddddd;
}

#wrapper {
	width: 80%;
	height: auto;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Verdana, Arial;
	margin: auto;
}

h1 {
	font-size: 1.8em;
}

#id_imagens img {
	position: absolute;
	width: 250px;
	height: 250px;
	opacity: 1;
	border: 10px solid black;
	box-shadow: 10px 10px 5px #888888;
}

#id_links ul{
	float: left;
	margin: 15px 00px 0px 329px;

}

#id_links li{
	margin: 0px 00px 31px 0px;
	display: block;
}

#id_links a{
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	background: #cccccc;
	width: 10px;
	height: 10px;
	border: 10px solid black;

}

#id_links a:hover {
	background: black;
	color: white;
}
