/* CSS Document by futrica */

body {
	width: 1000px;
	background: #dddddd;
}

#wrapper {
	width: 80%;
	height: auto;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Verdana, Arial;
	margin: auto;
}

h1 {
	font-size: 1.8em;
}

#wrapper img {
	position: absolute;
	top: 90px;
	left: 500px;
	width: 250px;
	height: 250px;
	opacity: 1;
	border: 10px solid black;
	box-shadow: 10px 10px 5px #888888;
}

#wrapper ul{
	position: absolute;
	top: 90px;
	left: 100px;
	margin: 15px 00px 0px 329px;

}

#wrapper li{
	margin: 0px 00px 31px 0px;
	display: block;
}

#wrapper a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	background: #111111;
	width: 10px;
	height: 10px;
	border: 10px solid black;

}

#wrapper a:hover {
	background: white;
	color: black;
	border: 10px solid white;	
}
